.background {
  background: center no-repeat url('resources/IONSplashScreen1.jpg');
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  background-image:  center no-repeat url('resources/IONSplashScreen1.jpg');
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}